@import url(https://fonts.google.com/specimen/Inter);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div{
    background-color:hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    color: hsl(75, 94%, 57%);
    background-color: hsl(0, 0%, 12%);
    min-height: 25vh;
    min-width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
input[type="text"], input[type="password"], input[type="email"]{
    background-color: hsl(0, 0%, 15%);
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: hsl(0, 0%, 95%);
    width: 200px;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus {
    outline: none;
    border: 2px solid hsl(75, 94%, 57%); /* Cor e espessura da borda ao focar */
}
.button{
    background-color: hsl(0, 0%, 8%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: hsl(0, 0%, 95%);
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    transition: 300ms;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 0%);
}